<!--$!{moduleName} -->
<template>
    <div class="each-model">

        <div class="page-nav">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/' }"><i class="el-icon-home" style="margin-right: 6px;"></i>$!{moduleName}</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="page-content">
            <div class="page-content-box">
                <div class="page-content-header">
                    <div class="model-title">
                        <span>详细信息</span>
                        <div class="add-new-btn">
                            <el-button @click="$router.go(-1)" style="margin-top: 4px;" size="small" type="primary" icon="arrow-left">返回</el-button>
                        </div>
                    </div>
                </div>
                <div class="page-content-main">
                    <div class="model-content">
                        <el-form  label-width="120px">
                            #foreach($propName in $propList)
                            <el-form-item label="$!{propName}" prop="$!{propName}">
                                <span>{{form.$!{propName}}}</span>
                            </el-form-item>
                            #end
                        </el-form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        name: '$!{lowerCaseName}Details',
        data : function(){
            return {
                form: {
                },
            }
        },
        methods: {
            cancelForm: function () {
                this.$router.go(-1);
            },
            get$!{filePrefix}:function(){
                var that=this;
                this.#[[$rsClient]]#.get("/$!{lowerCaseName}/"+this.#[[$route]]#.query.id,function(custom){
                that.form=custom;
                });
            }
        },
        components: {
        },
        mounted:function(){
            if(this.#[[$route]]#.query.id){
                this.get$!{filePrefix}();
            }
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>

</style>
